doctype html(lang='en')
head
    meta(charset='utf-8')
    title Savings Multiplied
  body
    header
      .light-blue
        .row
          .col-md-12.signIn-signUp
            li.btn.btn-xs.btn-link
              a(href='#') Sing in
            li.btn.btn-xs.btn-link
              a(href='#')
            li.btn.btn-xs.btn-link
              a(href='#') Sing up
        .top-white-div.top-border
          .row
            .col-md-5
              .col-md-12.logo
                a(href='/')
                  img(src='../images/savings-multiplied-logo.png', alt='main-logo')
            .col-md-7.btn-tagline
              .row
                div
                  ul.first-buttons
                    li
                      button.btn.btn-sm.btn-about.btn-font(type='button') About
                    li
                      button.btn.btn-sm.btn-contact.btn-font(type='button') Contact
                    li
                      button.btn.btn-sm.btn-blog.btn-font(type='button') Blog
                    li
                      button.btn.btn-sm.btn-press.btn-font(type='button') Press
              .row
                .col-md-6.white
                  img(src='../images/tagline.png', alt='tagline')
