.padding-to-nav.dark-blue-div
    .bottom-white-div.bottom-border
        .row
          .col-md-6.first-last-col.twins
            .aspect
              p We&apos;re making one aspect of life easier for parents of multiples
            .buying-and-selling
              ul
                li
                  a(href='#')
                    img(src='../images/owls/owl_light_blue_32.png', alt='little-owl')
                li buying and selling gently used sets of clothes!
          .col-md-6.twins
            img(src='../images/children/twins.jpg', alt='twins')
        .row
          .col-md-6.first-last-col
            a(href='../html/auction.html')
              img(src='../images/homepage/left_2_shop_now.png', alt='shop-now')
          .col-md-6.triplets
            img(src='../images/children/triplets.jpg', alt='triplets')
        .row
          .col-md-6.first-last-col
            img.tree(src='../images/homepage/tree.png', alt='tree')
          .col-md-6.quads
            img(src='../images/children/quads.jpg', alt='quads')
        .row
          .col-md-12.dotted.line
            img.dotted-line-two(src='../images/homepage/dotted_line_44x9a.png', alt='line')
            img.dotted-line-three(src='../images/homepage/dotted_line_44x9a.png', alt='line')
            img.dotted-line-seven(src='../images/homepage/dotted_line_44x9.png', alt='line')
            img.dotted-line-four(src='../images/homepage/dotted_line_44x9.png', alt='line')
            img.dotted-line-five(src='../images/homepage/dotted_line_44x9.png', alt='line')
            img.dotted-line-six(src='../images/homepage/dotted_line_44x9.png', alt='line')
            img.dotted-line-seven(src='../images/homepage/dotted_line_44x9.png', alt='line')
        .row
          .col-md-12.bottom-border
            ul.social-media
              li
                a(href='#')
                  img(src='../images/homepage/facebook_callout.png', alt='facebook')
              li
                a(href='#')
                  img(src='../images/homepage/twitter_callout.png', alt='twitter')
              li
                a(href='#')
                  img(src='../images/homepage/message_board_callout.png', alt='msgboard')
              li
                a(href='#')
                  img(src='../images/homepage/special_offers_callout.png', alt='specoff')
