.padding-to-nav.dark-blue-div
	.bottom-white-div.bottom-border
		.row
			.col-md-12
				.green-text.green-background.please-signin
					h2 Please Sign In
					input.input-block-level(type="text", name="username", placeholder="Email address")
					br
					input.input-block-level(type="password", name="password", placeholder="Password")
					label.checkbox.
						<input type="checkbox" value="remember-me" /> Remember me
					button.btn.btn-large.btn-primary.btn-about(type="submit") Sign in

